---
Checks: >-
  -*,
  bugprone-*,
  cert-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -misc-include-cleaner,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-math-missing-parentheses
WarningsAsErrors: ''
HeaderFilterRegex: '^(.*/)?(include|src)/.*'
...
