# C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# OS X temporary files that should never be committed

.DS_Store
*.swp
*.lock
profile

# Build and Doc dirs
build/
html/
latex/
cpplint.py
doc_html/
*.tmp
*.tar.gz
googletest/

# Editor files
.clang_complete
.idea

# Program/script executables
cdt_tests
grid_d

# Output files
*.dat
output
*.txt
*.off

# Instrumentation
*.trace

# Cruft
*.old.*
*.bak
