# C++.gitignore

# Compiled Object files
*.slo
*.lo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# Precompiled headers
*.pch

# OS X temporary files that should never be committed
.DS_Store
*.swp
*.lock
profile

# Build, Doc, and Testing dirs
build/*
html/
cov-int
Testing

# Editor files
.clang_complete
.idea
.vscode/
xcode/

# Program/script executables
cdt_tests
grid_d

# Output files
output*
errors
*.off
*.dat
slurm-*.out
*.tmp

# Instrumentation
*.trace

# Cruft
*.old.*
*.bak
