# C++.gitignore

# Compiled Object files
*.slo
*.lo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# Precompiled headers
*.pch

# OS X temporary files that should never be committed
.DS_Store
*.swp
*.lock
profile

# Build, Doc, and Testing dirs
/build*
html/
/cmake-build*
cov-int
/out/*

# Editor files
.clang_complete
.idea
.vs*
xcode/
CMakeSEttings.json

# Program/script executables
cdt_tests
grid_d

# Output files
output*
errors
*.off
*.dat
slurm-*.out
*PVS-Studio*

# Instrumentation
*.trace
build-wrapper-macosx-x86
*.scannerwork
bw-output/*
coverage.info

# Cruft
*.old.*
*.bak

# SourceTrail
*.srctrlbm
*.srctrldb*
*.srctrlprj

# Pipenv
Pipfile
scanresults/

# vcpkg
vcpkg_installed
