language: cpp
sudo: required
dist: trusty
osx_image: xcode8.3

addons:
  apt:
    packages:
      - g++-6
      - ninja-build
      - clang-3.9
      - libmpfr-dev
      - libgmp3-dev
      - libeigen3-dev
      - libtbb-dev
      - valgrind
    sources: &sources
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-3.9
#  coverity_scan:
#    project:
#      name: "acgetchell/CDT-plusplus"
#    notification_email: acgetchell@ucdavis.edu
#    build_command_prepend:
#    build_command:   "./build.sh"
#    branch_pattern: master

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "a6fYvd3gtfZ3zZFJ1IhnUBbc5DIoywkXuu8dORjlQIDMYZH6CS7LES07WNWFU9vikhD/L7gRa3UJiTttXAuYW2xI6n9tb0Ug2piBF35Xi+mM42q1XPBqSaSbKqySVGBzyyxl0yBcw1SiHPg6jITmDXnRtpZRqChGUXOH4exGgp4="
   - BOOST_VERSION=1.64.0
  matrix:
    - GMOCK=true
    - GMOCK=false

cache:
  apt:
  ccache:
  directories:
    - ${TRAVIS_BUILD_DIR}/boost-${BOOST_VERSION}

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

matrix:
  fast_finish: true
  include:
    - os: linux
      compiler: gcc
      env: GMOCK=false VALGRIND=true
  allow_failures:
    - os: linux
      compiler: clang
      env: GMOCK=true
    - os: linux
      compiler: clang
      env: GMOCK=false

before_install:
  # Workaround for https://github.com/travis-ci/travis-ci/issues/6307
    - |
      if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        gpg2 --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
        rvm get stable --auto-dotfiles
        brew update
      fi

#  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew outdated cmake || brew upgrade cmake
      brew install gcc
      brew link --overwrite gcc
      brew install ninja
      brew outdated boost || brew upgrade boost --without-single --c++11
      brew install eigen
      brew install tbb --c++11
      INCLUDE_DIR="/usr/local/include/"
      SH_LIB="a"
      LIB_DIR="/usr/local/lib/"
    fi
  - |
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      CMAKE_URL="https://cmake.org/files/v3.9/cmake-3.9.0-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${TRAVIS_BUILD_DIR}/cmake/bin:${PATH}
      if [[ "${BOOST_VERSION}" != "" ]]; then
        BOOST_DIR=${TRAVIS_BUILD_DIR}/boost-${BOOST_VERSION}
        if [[ -z "$(ls -A ${BOOST_DIR})" ]]; then
          if [[ "${BOOST_VERSION}" == "trunk" ]]; then
            BOOST_URL="http://github.com/boostorg/boost.git"
            travis_retry git clone --depth 1 --recursive ${BOOST_URL} ${BOOST_DIR} || exit 1
            (cd ${BOOST_DIR} && ./bootstrap.sh && ./b2 headers)
          else
            BOOST_URL="http://sourceforge.net/projects/boost/files/boost/${BOOST_VERSION}/boost_${BOOST_VERSION//\./_}.tar.gz"
            mkdir -p ${BOOST_DIR}
            { travis_retry wget -O - ${BOOST_URL} | tar --strip-components=1 -xz -C ${BOOST_DIR}; } || exit 1
          fi
        fi
        CMAKE_OPTIONS+=" -DBOOST_ROOT=${BOOST_DIR}"
      fi
      INCLUDE_DIR="/usr/include/"
      SH_LIB="so"
      LIB_DIR="/usr/lib/"
      CMAKE_OPTIONS+=" -DBUILD_SHARED_LIBS=ON"
    fi
  - cmake --version
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$CXX" = "g++" ]]; then export CXX="g++-6" CC="gcc-6"; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" && "$CXX" = "g++" ]]; then export CXX="g++-7" CC="gcc-7"; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$CXX" == "clang++" ]]; then export
   CXX="clang++-4.0" CC="clang-4.0"; fi
  - echo $CXX $CC
  # Install GMock/GTest from source
  - |
    if [[ ${GMOCK} == "true" ]]; then
      GTEST_URL="https://github.com/google/googletest.git"
      travis_retry git clone --depth 1 --recursive --quiet ${GTEST_URL} || exit 1
      cd googletest/googlemock
      echo $CMAKE_OPTIONS
      cmake $CMAKE_OPTIONS -G Ninja .
      ninja
      sudo cp -a include/gmock ${INCLUDE_DIR}
      sudo cp -a libgmock_main.${SH_LIB} libgmock.${SH_LIB} ${LIB_DIR}
      cd ../googletest
      cmake $CMAKE_OPTIONS -G Ninja .
      ninja
      sudo cp -a include/gtest ${INCLUDE_DIR}
      sudo cp -a libgtest_main.${SH_LIB} libgtest.${SH_LIB} ${LIB_DIR}
    fi
  # Install CGAL from source
  - cd $TRAVIS_BUILD_DIR
  - travis_retry curl -L -o CGAL-4.9.1.tar.gz https://github.com/CGAL/cgal/archive/releases/CGAL-4.9.1.tar.gz
  - tar zxvf CGAL-4.9.1.tar.gz &> install.log
  - cd cgal-releases-CGAL-4.9.1
  - echo $CMAKE_OPTIONS
  - cmake -DCMAKE_BUILD_TYPE=Release -DBoost_USE_STATIC_LIBS=ON -DWITH_Eigen3=ON -DBOOST_ROOT=${BOOST_DIR} -G Ninja .
  - ninja
  - sudo ninja install &> install.log
  - cd ..

script:
  - mkdir build && cd build
  - CMAKE_OPTIONS="-DBOOST_ROOT=${BOOST_DIR} -DBUILD_SHARED_LIBS=ON"
  - |
    if [[ ${GMOCK} == "true" ]]; then
      CMAKE_OPTIONS+=" -DCMAKE_BUILD_TYPE=Release -DGMOCK_TESTS:BOOL=ON"
    else
      CMAKE_OPTIONS+=" -DCMAKE_BUILD_TYPE=Release -DGMOCK_TESTS:BOOL=OFF"
    fi
  - if [[ ${VALGRIND} == "true" ]]; then CMAKE_OPTIONS+=" -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS=-O0 -DGMOCK_TESTS:BOOL=OFF"; fi
  - echo $CMAKE_OPTIONS
  - cmake $CMAKE_OPTIONS -G Ninja ..
  - ninja

after_success:
  - cd build
  # GMock with random test order
  - if [[ ${GMOCK} == "true" ]]; then ./unittests --gtest_shuffle; fi
  - if [[ ${VALGRIND} == "true" ]]; then valgrind --leak-check=full --show-leak-kinds=all ./cdt --s -n640 -t4 -a0.6 -k1.1 -l0.1 -p10 -c1; fi
# CTest
  - cmake --build . --target test

notifications:
  webhooks:
    urls: https://webhooks.gitter.im/e/c70e4d2749931f601747
    on_success: change
    on_failure: always
