language: cpp

os:
  - linux
  - osx

sudo: required

dist: trusty

osx_image: xcode7.2

compiler:
  - gcc
  - clang

matrix:
  exclude:
    - os: linux
      compiler: clang
    # - os: osx
    #   compiler: gcc
  allow_failures:
#    - compiler: gcc
    - os: osx

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "JuEvOnlCbo+3F1omn9eQi+UlurptombUlB3ROEM71F1wf6cxUnznDOYBr3cPb7zwFEOAfw1rYuEKJBWNh34vvlqxzi6I/pIIlpL73yOIIcYW0/CYMCkgvOIxdtQv4JyBYW7seAflaJyf8ElGtojiEumXwCqlBXg6uwrIoZ00NqI="

addons:
  coverity_scan:
    project:
      name: "acgetchell/CDT-plusplus"
    notification_email: acgetchell@ucdavis.edu
    build_command_prepend:
    build_command:   "./build.sh"
    branch_pattern: master

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./install-osx.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./install-linux.sh; fi

  - if [[ "$CXX" = "g++" ]]; then export CXX="g++-5" CC="gcc-5"; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$CXX" == "clang++" ]]; then export CXX="clang++-3.8" CC="clang-3.8"; fi
  # Install CGAL from source
  - cd $TRAVIS_BUILD_DIR
  - curl -L -o CGAL-4.8.1.tar.gz https://github.com/CGAL/cgal/archive/releases/CGAL-4.8.1.tar.gz
  - tar zxvf CGAL-4.8.1.tar.gz &> install.log
  - cd cgal-releases-CGAL-4.8.1
  - cmake -DCMAKE_BUILD_TYPE=Release -DWITH_Eigen3=ON -G Ninja .
  - ninja
  - sudo ninja install &> install.log
  - cd ..

script:
  - ./build.sh

after_script:
  - cd build
# GMock with random test order
  - "./unittests --gtest_shuffle"
# CTest
  - ninja test

cache:
  - bundler
  - apt

notifications:
  webhooks:
    urls: https://webhooks.gitter.im/e/c70e4d2749931f601747
    on_success: change
    on_failure: always
